body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#app {
  font-size: 14px;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:focus {
  outline: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
  line-height: 0;
}
